.principal{
    width: 500px;
    height: 300px;
    margin-left: 400px;
}
h1{
    font-size: 40px;
    color: blue;
    margin-left: 60px;
}
form{
    text-align: center;
}
input{
    width:300px;
    margin-top: 10px;
}
td{
    text-align: center;
}
